<template>
  <div
    id="calculator"
  >
    <div
      class="buttons-grid"
    >
      <div
        id="calculator-text-container"
      >
        <input
          id="calculator-text"
          v-model="text"
          readonly
        >
        <div
          id="calculator-text-screen"
        />
      </div>
      <template
        v-for="(button, k) in buttons"
        id="calculator-buttons"
      >
        <CalculatorButton
          :icon="getIcon(button)"
          :key="k"
          @calculator-button-click="onButtonClick"
        />
      </template>
    </div>
    <a
      class="license"
      href="http://fontstruct.com/fontstructions/show/908795"
    >
      Font
    </a>
  </div>
</template>

<script src="./Calculator.js"/>

<style src="./Calculator.scss" lang="scss" scoped/>
