$cell-size: 60px;
$text-border-width: 5px;

$gb0: #081820;
$gb1: #346856;
$gb2: #88c070;
$gb3: #e0f8d0;

@font-face {
  font-family: "PixelUnicode";
  src: url("../../../static/fonts/pixel-unicode/Pixel-UniCode.ttf");
  src: url("../../../static/fonts/pixel-unicode/Pixel-UniCode.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: "PixelUnicode";
  font-size: 30px;
  color: $gb3;
  background-color: $gb0;
  border-color: $gb1;

  &:active {
    color: $gb0;
    background-color: $gb1;
  }

  &:focus {
    outline: 0;
  }
}

#calculator-text-container {
  position: relative;
  border-width: $text-border-width;
  grid-column-end: span 4;
  border-color: #081820;
  border-style: solid;
}

#calculator-text {
  $font-size: 20px;
  font-size: $font-size;
  line-height: $cell-size + $text-border-width - $font-size;
  margin-right: $text-border-width * 2;
  margin-bottom: $text-border-width * 2;
  max-width: $cell-size * 4 - $text-border-width * 3;
  -webkit-appearance: none !important;
  outline: auto;
  text-align: end;
  text-overflow: ellipsis;
  font-family: "PixelUnicode";
  font-size: 40px;
}

#calculator-text-screen {
  content: "";
  // Position absolute but relative to container
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(#e0f8d0, 0.3) 0%,
    rgba(#346856, 0.8) 100%
  );
}

.buttons-grid {
  display: grid;
  grid-template-columns:
    $cell-size
    $cell-size
    $cell-size
    $cell-size;
  grid-template-rows:
    $cell-size
    $cell-size
    $cell-size
    $cell-size
    $cell-size
    $cell-size;
}

#calculator-button-\= {
  grid-row-end: span 3;
}

#calculator-button-0 {
  grid-column-end: span 3;
}

.license {
  padding-top: 10px;
  float: left;
  font-size: 15px;
}
